<template name="betList">


<div class="searchButtonDiv">
	<input type="text" id="searchButton" placeholder="Search Private Bet"><i class="icon-search iconsearchbutton"></i>
</div>
<div style="clear: both"></div>

<div class="filterdivmain">
 <select class="filterdropdown" onchange="changeSortBy(this)">
  <option>Filter</option>
  <option value="amount">Amount</option>
  <option value="enddate">End Date</option>
  <option value="name">Name</option>
 </select>
</div>

    {{#each bets}}
    <div class="entry" data-id="{{ _id }}">
        <div class="fl">
            <div class="circle">
                &euro;{{getTotalPot amount betters }}
                <div class="smallcircle1">
                    {{betters.length}}
                </div>
    
                <div class="smallcircle2">
                    &euro;{{ amount }}
                </div>
            </div>
        </div>
        <div class="fl">
            <div class="descriptionname">
                {{ name }}
            </div>
            <div style="clear: both" />
    
            <div class="watchers">
                {{ watchers.length }} Watchers <span class="watch">W</span>
            </div>
    
            <div style="clear: both" />
    
            <div class="date">
                End: {{convertDate endDate }}
            </div>
        </div>
        <div class="fr arrow">
            <i class="icon-arrow-right arrow" />
        </div>
        <div style="clear: both" />
    </div>
    
    <div style="clear: both" />
    <div class="sep" />
    {{/each}}

</template>